{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "max-len": ["off"],
    "object-curly-spacing": ["error", "always"],
    "prefer-template": ["error"],
    "semi": ["error", "always"],
    "template-curly-spacing": ["error", "always"]
  }
}
